
.contact{
    margin: 100px 10% ;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    line-height: 2;
}
.contact .title{
  margin: 100px 0 20px 0;
}

.contact h2{
  margin-top: 0;
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondForm{
  padding: 10px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
  box-shadow: 8px 8px 50px 0px rgb(122, 123, 140);
}

.secondForm .form div{
  display: flex;
  flex-direction: column;
}

.secondForm .form input{
  background-color: #f6f6f6;
  border: 1px solid #fff;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 5px;
}

.secondForm .form textarea {
  background-color: #f6f6f6;
  border: 1px solid #fff;
  border-radius: 25px;
  font-family: 'PT Sans', sans-serif;
  padding: 7px;
}

.secondForm .form button {
  margin-top: 10px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  padding: 5px;
}

.secondForm .leftSide{
  padding-right: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondForm .rightSide{
  display: flex;
  align-items: center;
}

.secondForm .img{
  border-radius: 25px;
    background-image: url(/cleaningShop/assets/kontakt.jpeg);
    width: 300px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: 480px) {

  .contact{
    margin: 50px 0;
    display: flex;
    /* flex-direction: row; */
  }
  .secondForm{
    height: 1000px;
    flex-direction: column;
  }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .contact{
      margin: 50px 0;
      display: flex;
      /* flex-direction: row; */
    }
    .secondForm{
      height: 1000px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .secondForm .rightSide{
      margin-top: 50px;
    }
  }